.description p {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 20px;
	font-family: normal;
	resize: vertical;
}

.authorImg {
    width: 90%;
	margin-left: auto;
    margin-right: auto;
	display: block;
	border-radius: 50%;
	max-width: 350px;
	max-height: 350px;
}

.authors {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 20px;
	font-family: normal;
	resize: vertical;
}

.authors h1, h2 {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}