.containerFreelancer {
	padding: 0px;
	font-size: 22px;
	font-family: 'Amatic SC', cursive;	
	font-weight: bold;
	color: black;
	background: none;
}

.offer {
	background-image: url("../img/foreground.png");
	float: right;
	border: 10px solid rgb(25,139,210);
}
.offer font {
	color: rgb(25,139,210);
}

.image {
	border-radius: 15px 50px;
	clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image img {
    width: 100%;
	height: auto;
}

.basicInfo {
	font-size: 30px;
}

.block {
	margin: 0;
	padding: 0;
	float: left;
}

.technique {
	float: left;
	text-align: center;
	min-height: 55px;
	font-size: 30px;
}

.date {
	float: left;
	text-align: right;
	font-size: 25px;
}

.employer {
	float: left;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	font-family: 'Permanent Marker';
	min-height: 65px;
}

.location {
	float: left;
	text-align: center;
	min-height: 55px;
	font-size: 30px;
}

.description {
	float: left;
	text-align: center;
}
.description a {
	font-size: 30px;
}

.divider {
	margin: 0;
	padding: 0;
	height: 50px;
	clear: both;
	overflow: hidden;
}


/* Background pattern from Toptal Subtle Patterns */