.image img {
    width: 100%;
	height: auto;
	border-radius: 15px 50px; 
}

.dot {
  height: 2vw;
  width: 2vw;
  background-color: DodgerBlue;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

p {
	font-size:5vw;
}