input[type=text],
input[type=password]
{
	width: 300px;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	display:block;
	font-family:serif;
}

label
{
	margin-top: 10px;
	display:block;
	text-align: center;
	font-family:serif;
	font-size: 20px;
	
}


.g-recaptcha{
	
	margin-right: auto;
	margin-left: auto;
	width: 304px; //standardowy roziamr recaptcha
	display:block;
}

.container {
	
	padding: 20px;
}

input[type=submit]
{
	background-color: DodgerBlue;
    color: white;
    padding: 8px 20px;
    margin-right: auto;
	margin-left: auto;
    border: none;
	border-radius: 5px;
    cursor: pointer;
    width: 300px;
	font-size: 30px;
	margin-top: 20px;
	display:block;

}

input[type=submit]:focus
{
	opacity: 0.8;
}

input[type=submit]:hover
{
	opacity: 0.8;
}